.cell {
    width: 20px;
    height: 20px;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
}

.cell-copper {
    border: 1px solid #888;
    background-color: blue;
}

.cell-hidden .cell-flag {
    background-color: grey;
    border: 1px solid #888;
    color: #fff;
}

.cell-nothing  {
    background-color: white;
    border: 1px solid #ddd;
}
