#sweepboard-all {

}

.sweepboard {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
table.sweepboard {
    layout: fixed;
    border-collapse: collapse;
}

sweepboard.table tr td {
    border: 1px solid #ffF;
}

.cell {
    width: 20px;
    height: 20px;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
}

.cell-copper {
    background-color: blue;
}

.cell-hidden {
    background-color: grey;
    border: 1px solid #888;
}

.cell-flag {
    color: #fff;
    background-color: grey;
}

.cell-nothing  {
    background-color: white;
    border: 1px solid #ddd;
}
