h1 {
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
    font-variant: small-caps;
    margin: 4px 10px;
    float: left;
    height: 32px;
}

body { margin: 0;
       padding: 0}

header {
    height: 48px;
    margin: 0;
    display: block;
    background-color: #333;
    color: #eee;
    font-size: 16px;
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
    font-variant: small-caps;
    font-weight: bold;
}

.difficultySelector {
    height: 32px;
    margin: 7px;
    background-color: #333;
    display: block;
    border: 0;
    color: #eee;
    float: right;
    font-size: 16px;
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
    font-weight: bold;
    font-variant: small-caps;
}

.boardOptions {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.button {
    border: 2px solid #777;
    border-radius: 5px;
    height: 32px;
    background-color: #333;
    color: #eee;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-variant: small-caps;
}
.button:hover {
    border-color: #fff;
}

.headerButton {
    margin: 7px;
    float: right;
}


fieldset {
    background-color: #333;
    color: #eee;
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
    font-variant: small-caps;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    width: 300px;
    border-radius: 5px;
    display: inline-block;
}

fieldset legend {
    background-color: #333;
    color: #eee;
    padding: 5px;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    text-align: left;
    border-radius: 3px;
}

.labelledInputLabel {
    float: left;
    width: 100px;
    margin-top: 10px;
}

.labelledInputInput {
    float: left;
    width: 185px;
    margin-top: 10px;
    border: 0;
    border-bottom: 1px solid #fff;
    background-color: #333;
    color: #eee;
    padding: 5px;
    font-size: 16px;
    font-family: "courier new";
}

.cops {
    font-size: 0.8em;
}

.sliderWrapper {
    margin: 10px 0;
    display: inline-block;
    width: 300px;
}

.submitOptions {
    display: block;
    margin-left: auto;
    margin-left: auto;
    font-weight: bold;
    font-size: 1.2em;
    font-variant: small-caps;
}
